<div class="inicioDiv">
    <div class="capitalBanner" id="lashistaItemLandingPage">
        <div class="overlayInicio">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6 serviciosTitleInicio">
                        <div class="titleInicioResponsive">
                            <h1 class="titleInicioTitle">
                                Servicios profesionales y de consultoría de alta calidad.
                            </h1>
                            <button type="button" class="btn btn-dark btn-lg" onclick="location.href='#contacto';">Contactar</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="container-flex text-center">
        <div class="lashistaProfesionalBanner">
            <div class="overlay paraFont">
                <h2 class="titleCompletaTresCursos">Completa nuestros 3 cursos y certificate como<br><span
                        style="font-weight: bolder; color:gold">«
                        Lashista profesional »</span><br> Pregunta por nuestras certificaciones</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item listItemLashistaProfesional"><a
                            href="https://api.whatsapp.com/send?phone=+525553375092" target="blank"
                            class="linkItemLashistaProfesional">Técnica clásica 1 x 1 e introducción al volúmen</a></li>
                    <li class="list-group-item listItemLashistaProfesional"><a
                            href="https://api.whatsapp.com/send?phone=+525553375092" target="blank"
                            class="linkItemLashistaProfesional">Volúmen Ruso y efecto de color</a></li>
                    <li class="list-group-item listItemLashistaProfesional"><a
                            href="https://api.whatsapp.com/send?phone=+525553375092" target="blank"
                            class="linkItemLashistaProfesional">Volúmen americano y mega volúmen</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-flex  paraFont text-center aplicacionesDiv" id="aplicacionLashesLanding">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card cardAplicacionesLash" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/2.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Look Innamorata</h5>
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Excelente para aquellas personas que buscan un look natural.
                                    Dotando tus pestañas de
                                    un toque especial.</li>
                                <li class="list-group-item">$1,300.00 MXN</li>
                                {{!-- <li class="list-group-item">Los retoques de $500 se realizan de 15 -17 días a
                                    partir
                                    de la
                                    fecha de aplicación</li>
                                <li class="list-group-item">(Debes contar con al menos 50% de las extensiones)</li>
                                <li class="list-group-item">De 18 – 21 días tendrá un costo de $700</li>
                                <li class="list-group-item">Más de 21 días deberá realizarse una aplicación nueva</li>
                                --}}
                            </ul>
                            </p>
                            <a href="https://api.whatsapp.com/send?phone=+525553375092"
                                class="btn btn-outline-dark">Hacer una cita</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card cardAplicacionesLash" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/3.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Look Luminatti</h5>
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Ideal para aquellas personas que buscan un look más marcado
                                    que
                                    tus pestañas naturales.</li>
                                <li class="list-group-item">$1,400.00 MXN</li>
                            </ul>
                            </p>
                            <a href="https://api.whatsapp.com/send?phone=+525553375092"
                                class="btn btn-outline-dark">Hacer una cita</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card cardAplicacionesLash" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/6.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Look Ultra Luminatti</h5>
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Si lo que buscas es un look con mayor intensidad y que tus
                                    capas
                                    resalten, este será perfecto para ti.</li>
                                <li class="list-group-item">$1,500.00 MXN</li>
                            </ul>
                            </p>
                            <a href="https://api.whatsapp.com/send?phone=+525553375092"
                                class="btn btn-outline-dark">Hacer una cita</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card cardAplicacionesLash" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/7.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Look Radiance</h5>
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Robarás miradas con una intensidad de moderada a intenso,
                                    con
                                    pestañas más gruesas.</li>
                                <li class="list-group-item">$1,800.00 MXN</li>
                            </ul>
                            </p>
                            <a href="https://api.whatsapp.com/send?phone=+525553375092"
                                class="btn btn-outline-dark">Hacer una cita</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card cardAplicacionesLash" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/8.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Look Luminescence</h5>
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Si buscas lo mejor de dos mundos Luminescence es el look
                                    perfecto, lo natural y el volumen se fusionan para darte esa mirada con potencia que
                                    estás buscando.</li>
                                <li class="list-group-item">$1,900.00 MXN</li>
                            </ul>
                            </p>
                            <a href="https://api.whatsapp.com/send?phone=+525553375092"
                                class="btn btn-outline-dark">Hacer una cita</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card cardAplicacionesLash" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/9.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Look Eternity</h5>
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Vamos con un look ideal: este look te dará intensidad y a la
                                    vez
                                    resaltará lo largo de tus pestañas, dándole fuerza y siguiendo su naturalidad.</li>
                                <li class="list-group-item">$2,000.00 MXN</li>
                            </ul>
                            </p>
                            <a href="https://api.whatsapp.com/send?phone=+525553375092"
                                class="btn btn-outline-dark">Hacer una cita</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card cardAplicacionesLash" style="width: 18rem;">
                        <img class="card-img-top" src="/assets/images/4.jpeg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Look Extravagance</h5>
                            <p class="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">El preferido, tu mirada nunca pasará desapercibida. Full
                                    cover
                                    te dará una intensidad alta con una mayor cantidad de extensiones incrementando la
                                    presencia de el negro y contrastando con tus ojos.</li>
                                <li class="list-group-item">$2,200.00 MXN</li>
                            </ul>
                            </p>
                            <a href="https://api.whatsapp.com/send?phone=+525553375092"
                                class="btn btn-outline-dark">Hacer una cita</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
    <div id="contacto">

    </div>
</div>