
.capitalBanner{
    height: 50rem;
    background-image: url("/assets/images/edificio.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0s linear;
    background-position: 25% 85%;

}
.bannerContacto{
    height: 20rem;
    background-image: url("/assets/images/company.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlayInicio{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.308);
}
.serviciosTitleInicio{
    margin-top: 20%;
    padding: 3%;
    color: white;
}
.privacidadBanner{
    height: 40rem;
    background-image: url("/assets/images/cuteSalon.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}
.nosotrosDivCapital{
    height: 11rem;
    padding-left: 0%;
    
}
.fonts{
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.grupoCapitalTitleNosotros{
    margin-top: 5%;
    margin-bottom: 5%;
}

.paraFont{
    font-family: 'Julius Sans One', sans-serif;
    font-family: 'Urbanist', sans-serif;
}

.lashistaProfesional {
    height: 25rem;
    border-radius: 8pt;
    margin-top: 12%;
    margin-right: 2%;
}
.imgLashistaProfesional:hover{
    opacity: 0.6;
    transition: 1s;
}
.imgCertificaciones:hover{
    opacity: 0.6;
    transition: 1s;
}
.aplicacionPestañas{
    height: 25rem;
    border-radius: 8pt;
    margin-top: 12%;
    padding: 0%;
}
.navbar-toggler {
    background-color: black !important;
} 
.logoCapitalNavBar{
    height: 9rem;
}
.nav-link{
    color: black !important;
    
}


.btn-whats{
    background-color: #25D366;
    border-color: #25D366;
}

.titleValueProp{
    width: 57%;
    text-align: center;
    margin-left: 24%;
}
.backgroundValueP{
    background-color: rgba(0, 0, 0, 0.541);
    border-radius: 8px;
    padding: 3%;
}
.aplicacionesDiv{
    padding-top: 5%;
    padding-left: 7%;
    padding-bottom: 5%;
    background-image: url("/assets/images/salon.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transition: 0s linear;
    background-position: 25% 85%;
}
.cardAplicacionesLash{
    margin-bottom: 5%;
}
#footer-wrap {
    background-color: white;
}
.fa-footer{
    color: black !important;
    margin: 1.5%;
    margin-bottom: 3% !important;
}
.imgLogoFooter{
    margin-left: 50%;
    margin-top: -10%;
}
.privacidadContainer{
    padding-top: 22%;
}
.privacidadTitle{
    background-color: rgba(255, 235, 205, 0.657);
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 2%;   
}
.tablePrivacidad{
    margin-top: 5%;
    margin-bottom: 5%;
}
#header-wrap {
    background: #fff!important;
}


@media(max-width:991px){
    .logoCapitalNavBar{
        margin-bottom: 5%;
    }
    .serviciosTitleInicio{
        margin-top: 75%;
    }
    .titleInicioTitle{
        font-size: 2rem;
    }
    .titleInicioResponsive{
        margin: 5%;
    }
    .capitalBanner{
        height: 40rem;
    
    }
    .containerLashesProducts{
        margin-top: 50%;
    }
    .titleValueProp{
        width: 100%;
        margin-left: 0%;
    }
    .cardAplicacionesLash{
        margin-left: 8%;
    }
    .imgLogoFooter{
        margin-left: 45% ;
    }
    .privacidadContainer{
        padding-top: 72%;
    }
    .privacidadBanner{
        height: 35rem;
        
    }
    .titleCompletaTresCursos{
        font-size: 18pt;
        margin-bottom: 5%;
        margin-top: 5%;
    }

}
@media(min-width:360px) and (max-width: 400px){

    .imgLashistaProfesional{
        margin-top: -20%;
    }
    .titleValueProp{
        margin-top: -30%;
    }
    /* .capitalBanner{
        height: 65rem;
    
    } */
    .cardAplicacionesLash{
        margin-left: 0%;
    }
    .imgLogoFooter{
        margin-left: 30% ;
    }
    .privacidadContainer{
        padding-top: 92%;
    }

}